html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #FAFDCE;
}

.container-full{
	margin:  0 auto;
	width: 100%;
}

.text-centered {
	text-align: center;
	vertical-align: middle;
}

.headerlogin {
	background-color: #222222;
	height: 50%;
	padding: 0.5em;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

.headerlogin span {
	color: #9d9d9d;
	cursor: pointer;
	text-decoration: none;
}
.headerlogin span:hover {
	color: #ffffff;
}
.headerlogin span:focus {
	color: #ffffff;
}
.containerMainSection{
	margin-bottom: 20px;
}
.containerFooter {
	color: #ffffff;
}

.footer-stile {
    background-color: #222222;
    border-top: 1px solid gray;
}

.menuStyle {
	border-radius: 0;
}

.footerContent {
	padding-top: 0.5em;
}

.modalBackGround {
	display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background-color: rgba(0,0,0,0.8);
    opacity:1;
	pointer-events: auto;
}

.modalBackGround > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #FAFDCE;
}
.defaultButton {
	background-color: #222222;
	color: #9d9d9d;
}
.defaultButton:hover {
	color: #ffffff;
}
.defaultButton:focus {
	color: #ffffff;
}

.widthAll {
	width: 100%;
}
.widthHalf {
	width: 50%;
}
.errorMessage {
	color: red;
	display: none;
}
.errorForm {
	color: red;
}
.bottomLine{
	margin-bottom: 0.5em;
	border-bottom: 1px solid gray;
}
.imageThumbnail {
	border: 2px solid gray;
	border-radius: 0.5em;
}
.imageDisplayed {
	border: 2px solid gray;
	border-radius: 0.5em;
}
.cabinRow {
	margin-bottom: 2em;
}
.centered {
	display:block;
	margin:0 auto;
}
.minHeight {
	min-height: 58%;
}